footer.s-footer.s-base
  .grid
    .row
      .col.col--md-fill
        .b-copyright
          | © 2015 Copyright
      .col.col--md-fit
        .b-developer
          | Разработка сайта: 
          a(href="//studio.ru" target="_blank") studio.ru
