header.s-header.s-base
  .grid
    .row.row--md-middle
      .col.col--md-fit.col--xs-fill
        +b-logo('logo.png')
      .col.col--md-fill.col--xs-fit
        .md-show
          .row.row--md-center.row--md-content
            .col
              +b-multiMenu(menu_main,'b-main-menu','submenu')
        .md-hide.float-right
          button(data-bars="btn" aria-hidden="true").btn
            | ☰
      .col.col--md-fit
        ul.reset-list
          li
            a.b-phone(href="tel:+71234567890")
              span.b-phone__cod
                | +7 (123)
              |  
              span.b-phone__num
                | 456-78-90
          li
            +b-email('email@dom.ru','icon-email').b-email
