header.s-header.s-base
  .grid
    .rw.rw--md-middle
      .cl.cl--md-fit.cl--xs-fill
        +b-logo('logo.png')
      .cl.cl--md-fill.cl--xs-fit
        .md-show
          .rw.rw--md-center.rw--md-content
            .cl
              +b-multiMenu(menu_main,'b-main-menu','submenu')
        .md-hide.float-right
          button(data-bars="btn" aria-hidden="true").btn
            | ☰
      .cl.cl--md-fit
        ul.reset-list
          li
            a.b-phone(href="tel:+71234567890")
              span.b-phone__cod
                | +7 (123)
              |  
              span.b-phone__num
                | 456-78-90
          li
            +b-email('email@dom.ru','icon-email').b-email
