*,
*::before,
*::after {
  box-sizing: border-box;                     // 1
}

html {
  font-family: sans-serif;                    // 2
  line-height: 1.15;                          // 3
  -webkit-text-size-adjust: 100%;             // 4
  -ms-text-size-adjust: 100%;                 // 4
  -ms-overflow-style: scrollbar;              // 5
  -webkit-tap-highlight-color: transparent;   // 6
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
}
