.#{$col} {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;
  padding-bottom: $grid-gutter;
  display: block;
  width: 100%;
}

@mixin col($breakpoint) {
  .#{$col+$mod+$breakpoint} {
    flex-grow: 1;
    flex-basis: 0;
  }
  @for $i from 1 through $columns {
    .#{$col+$mod+$breakpoint}-#{$i} {
      max-width: percentage($i/$columns);
      flex-basis: percentage($i/$columns);
    }
  }
  @for $i from 0 through $columns {
    .#{$col+$mod+$breakpoint}-offset-#{$i} {
      margin-left: percentage($i/$columns);
    }
  }
  .#{$col+$mod+$breakpoint}-first {
    order: -1;
  }
  .#{$col+$mod+$breakpoint}-last {
    order: 1;
  }
  .#{$col+$mod+$breakpoint}-top {
    align-self: flex-start;
  }
  .#{$col+$mod+$breakpoint}-middle {
    align-self: center;
  }
  .#{$col+$mod+$breakpoint}-bottom {
    align-self: flex-end;
  }
  .#{$col+$mod+$breakpoint}-fill {
    width: auto;
    flex: 1 1 0%;
    flex-basis: 0%;
  }
  .#{$col+$mod+$breakpoint}-fit {
    width: auto;
    flex: 0 1 auto;
    flex-basis: auto;
  }
}
