@mixin grid-max-width() {
  @each $breakpoint, $width in $breakpoints {
    @if ($width > 0) {
      @media (min-width: $width) {
        @each $breakpoint-max-width, $max-width in $breakpoints-max-width {
          @if ($breakpoint == $breakpoint-max-width) {
            max-width: ($max-width + $grid-gutter);
          }
        }
      }
    }
  }
}

.#{$grid} {
  @include clearfix;
  padding: 0 $grid-gutter/2;
  margin: 0 auto;
  width: 100%;
  @include grid-max-width();
}

@mixin grid($breakpoint) {
  .#{$grid}.#{$grid+$mod+$breakpoint}-fill {
    max-width: none;
  }
  .#{$grid}.#{$grid+$mod+$breakpoint}-fit {
    @include grid-max-width();
  }
  .#{$grid+$mod+$breakpoint}-gutter-0 {
    padding: 0;
  }
  .#{$grid+$mod+$breakpoint}-gutter-base {
    padding: 0 $grid-gutter/2;
  }
}
