$helpers-map:(
  hide: (display: none),
  text-left: (text-align: left),
  text-right: (text-align: right),
  text-center: (text-align: center),
  w100p: (width: 100%),
) !default;

$spacing-map: (
  mt: 'margin-top',
  ml: 'margin-left',
  mr: 'margin-right',
  mb: 'margin-bottom',
  pt: 'padding-top',
  pl: 'padding-left',
  pr: 'padding-right',
  pb: 'padding-bottom',
) !default;
$spacing-size-map: $offset-size-map;

@mixin min-max($breakpoint, $resize) {
  $sfx: if($breakpoint == 'xs', '', '-#{$breakpoint}-#{$resize}');
  // helpers-map
  @each $class, $rules in $helpers-map {
    .#{$class}#{$sfx} {
      @each $rule, $value in $rules {
        #{$rule}: $value !important;
      }
    }
  }
  // spacing-map
  @each $spacing-class, $spacing-rule in $spacing-map {
    @each $spacing-size in $spacing-size-map {
      .#{$spacing-class + '-#{strip-units($spacing-size)}' + $sfx} {
        #{$spacing-rule}: $spacing-size !important;
      }
    }
  }
}
