footer.s-footer.s-base
	.grid
		.rw
			.cl.cl--md-fill
				.b-copyright
					| © 2015 Copyright
			.cl.cl--md-fit
				.b-developer
					| Разработка сайта: 
					a(href="//studio.ru" target="_blank") studio.ru
