[class~="#{$b-col}"] {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  @include grid-gutter($b-col);
  display: block;
}

@mixin column-generator($suffix) {
  [class~="#{$m-col+$suffix}"] {
    flex-grow: 1;
    flex-basis: 0;
  }
  @for $i from 1 through $columns {
    [class~="#{$m-col+$suffix}-#{$i}"] {
      max-width: percentage($i/$columns);
      flex-basis: percentage($i/$columns);
    }
  }
  @for $i from 0 through $columns {
    [class~="#{$m-col+$suffix}-offset-#{$i}"] {
      margin-left: percentage($i/$columns);
    }
  }
  [class~="#{$m-col+$suffix}-first"] {
    order: -1;
  }
  [class~="#{$m-col+$suffix}-last"] {
    order: 1;
  }
  [class~="#{$m-col+$suffix}-start"] {
    align-self: flex-start;
  }
  [class~="#{$m-col+$suffix}-middle"] {
    align-self: center;
  }
  [class~="#{$m-col+$suffix}-end"] {
    align-self: flex-end;
  }
  [class~="#{$m-col+$suffix}-fill"] {
    width: auto;
    flex: 1 1 0%;
    flex-basis: 0%;
  }
  [class~="#{$m-col+$suffix}-fit"] {
    width: auto;
    flex: 0 0 auto;
    flex-basis: auto;
  }
}
