@mixin helpers-generator($suffix, $resize: '') {
  [class~="hide--#{$suffix}-#{$resize}"] {
    display: none !important;
  }
  [class~="text-left--#{$suffix}-#{$resize}"] {
    text-align: left;
  }
  [class~="text-right--#{$suffix}-#{$resize}"] {
    text-align: right;
  }
  [class~="text-center--#{$suffix}-#{$resize}"] {
    text-align: center;
  }
}
