// GRID-GUTTER
@mixin row-gutter {
  @mixin gutter($p) {
    margin-top: -$p;
    margin-left: -$p/2;
    margin-right: -$p/2;
  }
  @include gutter($grid-gutter);
  @if $grid-gutter-sm {
    @media($max-sm) {
      @include gutter($grid-gutter-sm);
    }
  }
}
@mixin col-gutter {
  @mixin gutter($p) {
    padding: $p $p/2 0 $p/2;
  }
  @include gutter($grid-gutter);
  @if $grid-gutter-sm {
    @media($max-sm) {
      @include gutter($grid-gutter-sm);
    }
  }
}
@mixin row-gutter-bottom-none {
  @mixin gutter($p) {
    padding: 0 $p/2 0 $p/2;
  }
  @include gutter($grid-gutter);
  @if $grid-gutter-sm {
    @media($max-sm) {
      @include gutter($grid-gutter-sm);
    }
  }
}
@mixin row-gutter-between-none {
  @mixin gutter($p) {
    padding: 0 0 $p 0;
  }
  @include gutter($grid-gutter);
  @if $grid-gutter-sm {
    @media($max-sm) {
      @include gutter($grid-gutter-sm);
    }
  }
}


// GRID-GENERATOR
@mixin media-generator($suffix) {
  @include grid-generator($suffix);
  @include row-generator($suffix);
  @include column-generator($suffix);
  @include helpers-generator($suffix);
}

@mixin grid-init {
  @each $suffix, $width in $breakpoints {
    @if ($width > 0) {
      @media (min-width: $width) {
        @include media-generator($suffix);
      }
    }
    @else {
      @include media-generator($suffix);
    }
  }
}
