[class~="#{$b-row}"] {
  flex-wrap: wrap;
  display: flex;
  margin-top: -$grid-gutter;
  margin-left: -$grid-gutter/2;
  margin-right: -$grid-gutter/2;
  & + & {
    margin-top: 0;
  }
}

@mixin row-generator($breakpoint) {
  [class~="#{$m-row+$breakpoint}-start"] {
    align-items: flex-start;
  }
  [class~="#{$m-row+$breakpoint}-middle"] {
    align-items: center;
    align-content: center;
  }
  [class~="#{$m-row+$breakpoint}-end"] {
    align-items: flex-end;
  }
  [class~="#{$m-row+$breakpoint}-center"] {
    justify-content: center;
  }
  [class~="#{$m-row+$breakpoint}-left"] {
    justify-content: flex-start;
  }
  [class~="#{$m-row+$breakpoint}-right"] {
    justify-content: flex-end;
  }
  [class~="#{$m-row+$breakpoint}-around"] {
    justify-content: space-around;
  }
  [class~="#{$m-row+$breakpoint}-between"] {
    justify-content: space-between;
  }
  [class~="#{$m-row+$breakpoint}-nowrap"] {
    flex-wrap: nowrap
  }
  [class~="#{$m-row+$breakpoint}-reverse"] {
    flex-direction: row-reverse;
  }
  [class~="#{$m-row+$breakpoint}-stretch"] {
    align-items: stretch;
    flex-flow: row wrap;
    & > [class~="#{$b-col}"] {
      display: flex;
    }
  }
  [class~="#{$m-row+$breakpoint}-content"] {
    & > [class~="#{$b-col}"] {
      width: auto;
      flex: 0 0 auto;
      flex-basis: auto;
    }
  }
}
