// 
@mixin form-field() {
  padding: $input_padding_y $input_padding_x;
  line-height: $input_height - $input_padding_y*2 - $input_border_width*2;
  height: $input_height;
  border-width: $input_border_width;
  border-style: solid;
  background: $input_bg;
  border-color: $input_border_color;
  &:focus {
    border-color: $input_border_focus_color;
  }
}

// placehold
@mixin placeholders {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// @type List
$all-text-inputs: 'input[type="color"]',
                  'input[type="date"]',
                  'input[type="datetime"]',
                  'input[type="datetime-local"]',
                  'input[type="email"]',
                  'input[type="month"]',
                  'input[type="number"]',
                  'input[type="password"]',
                  'input[type="search"]',
                  'input[type="tel"]',
                  'input[type="text"]',
                  'input[type="time"]',
                  'input[type="url"]',
                  'input[type="week"]',
                  'input:not([type])',
                  'textarea';
