// field base reset
@mixin field-base($root) {
  #{$root}__field {
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    vertical-align: top;
    max-width: 100%;
    &:not(textarea) {
      @include text-overflow;
    }
  }
  textarea#{$root}__field {
    display: block;
  }
  @media($max-md) {
    #{$root}__field,
    #{$root}__select {
      font-size: 16px !important;
    }
  }
}


// field default style
@mixin field-default() {
  letter-spacing: inherit;
  padding: $input_padding_y $input_padding_x;
  line-height: ($input_height) - ($input_padding_y*2) - ($input_border_width*2);
  height: $input_height;
  border-width: $input_border_width;
  border-style: solid;
  background-color: $input_bg_color;
  border-color: $input_border_color;
  border-radius: $input_border_radius;
  font-family: $ff_base;
  font-size: $input_font_size;
  font-weight: $fw_base;
  color: $input_font_color;
  &:focus, &.focus {
    background-color: $input_bg_focus_color;
    border-color: $input_border_focus_color;
  }
}


// field icon style
@mixin field-icon($icon_z: 18px) {
  @include tsn;
  position: relative;
  display: inline-block;
  padding: 0 !important;
  &__field {
    @include field-default;
    outline: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    vertical-align: top;
    max-width: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent !important;
    border: none !important;
    padding-right: ($input_padding_x * 2) + $icon_z !important;
    margin: - $input_border_width;
    max-width: calc(100%  + #{$input_border_width*2});
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $input_padding_x;
    color: $placeholder_color;
    font-size: $icon_z;
    font-weight: normal;
    &--over {
      z-index: 2;
      cursor: pointer;
    }
  }
}


// placehold
@mixin placeholders {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// @type List
$all-text-inputs: 'input[type="color"]',
                  'input[type="date"]',
                  'input[type="datetime"]',
                  'input[type="datetime-local"]',
                  'input[type="email"]',
                  'input[type="month"]',
                  'input[type="number"]',
                  'input[type="password"]',
                  'input[type="search"]',
                  'input[type="tel"]',
                  'input[type="text"]',
                  'input[type="time"]',
                  'input[type="url"]',
                  'input[type="week"]',
                  'input:not([type])',
                  'textarea';
