@mixin tsn($speed: $tsn_duration_base) {
  transition:
    box-shadow $speed,
    background-color $speed,
    border-color $speed,
    color $speed
}
@mixin tsn-opc($speed: $tsn_duration_base) {
  transition: opacity $speed
}
@mixin tsn-all($speed: $tsn_duration_base) {
  transition: all $speed
}
@mixin tsn-off() {
  transition: none !important
}
@mixin tsn-svg($val, $speed: $tsn_duration_base) {
  transition: $val $speed
}
