@import 'var';
@import '../../mixin/import';

&--tm-1 {
  // FIELD
  #{$root}__field {
    &::placeholder { // or: @mixin placeholders
      @include tsn-all;
      color: $placeholder-color;
    }
    &:focus {
      &::placeholder {
        color: $placeholder-focus-color;
      }
    }
    @include field-input;
  }
  textarea#{$root}__field {
    height: auto;
    min-height: 100px;
  }
  // LABEL
  #{$root}__label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // GROUP
  #{$root}__group {
    margin-top: $form-group-gutter;
    &:first-child {
      margin-top: 0;
    }
    &--bn {
      margin-top: $form-group-gutter * 2;
    }
  }
  // INPUT-ICON
  .b-input-icon {
    @include field-icon;
    &__field {}
    &__icon {}
  }
  // VALIDATE
  input.error, textarea.error {
    border-color: $input-border-color-error !important;
    box-shadow: 0 0 3px $input-border-color-error !important;
  }
  label.error {
    display: none !important;
  }
}
