meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="format-detection" content="telephone=no")
meta(http-equiv="x-rim-auto-match" content="none")

block title
  title=pojectTitle

+favicon

meta(name="description" content="")
meta(name="keywords" content="")

// build:css css/vendors.min.css 
= '\n'
<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
<!-- endbower -->
// endbuild 

block links

if icomoon
  +links("//i.icomoon.io/public/temp/"+icomoon+"/style.css")
if fontawesome
  +links("https://use.fontawesome.com/releases/v5.0.13/css/all.css")

+links(
  "css/theme.min.css"+revAppend,
  "css/custom.css"
)

if modernizr
  +scripts("js/modernizr.js")

+ltIE-10
