- var cdnjs = 'https://cdnjs.cloudflare.com/ajax/libs'
= '\n'
<script src="#{cdnjs}/jquery/3.3.1/jquery.min.js"></script>
//- <script src="#{cdnjs}/jqueryui/1.12.1/jquery-ui.min.js"></script>
//- <script src="#{cdnjs}/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

// build:js js/vendors.min.js 
= '\n'
<!-- bower:js -->
<!-- endbower -->
// endbuild 

block scripts

+scripts("js/theme.js"+revAppend)
