//- BASE VARIABLES
- var title         = 'Заголовок страницы'
- var activeMenu    = []
- var bodyClasses   = []

//- INCLUDES COMMON
- var header        = false
- var main          = true
- var footer        = false
- var off_top       = false
- var off_bot       = false
- var favicon       = false
- var modernizr     = false

//- CACHE-BUSTING PLUGIN
- var revAppend     = '?rev=@@hash'

//- ICOMOON APP
  - var icomoon       = '754aa778e0/proj'
  
//- NAME POJECT
- var poject        = 'start'

//- CONNECTION VARIABLES TO MAIN
block vars
