extends _base/_main.pug
block vars
  - title = ['О компании']
  - header = true
  - footer = true
  - hide_bot = true
block content
  .s-base
    .grid.grid--xl-full
      
      +b-breadcrumb(['Главная','Категория','Статья','Статья2'])
      
      h1
        | Title
      
      - for (var x = 1; x <= 1; x++)
        +p
      
      form.form.form--default
        .form__group
          label.form__label
            | Ваше имя
          input(type="text" name="name" placeholder="Ваше имя" required).form__field
        .form__group
          input(type="email" name="email" placeholder="Ваш e-mail" required).form__field
        .form__group
          input(type="tel" name="phone" placeholder="Ваш телефон" required).form__field
        .form__group
          textarea(rows="5" name="msg" placeholder="Сообщение" required).form__field.w100p
        .form__group.form__group--bn
          button(type="submit").bn.bn--default
            | submit
