extends _base/_main.pug
block vars
  - title = ['О компании']
  - header = 1
  - footer = 1
  - hide_bot = 1
block content
  .s-base
    .grid
      +b-breadcrumb(['Главная','Категория','Заголовок статьи'])
      h1
        | Title
      p
        img(src="//placehold.it/600x400" width="" height="150" alt="")
      - for (var x = 1; x <= 1; x++)
        +p
      ul.b-list
        li
          | Ваше имя
      form.form.form--tm-1
        .form__group
          label.form__label
            | Ваше имя
          input(type="text" name="name" placeholder="Ваше имя" required).form__field
        .form__group
          input(type="email" name="email" placeholder="Ваш e-mail" required).form__field
        .form__group
          input(type="tel" name="phone" placeholder="Ваш телефон" required).form__field
        .form__group
          textarea(rows="5" name="msg" placeholder="Сообщение" required).form__field.w100p
        .form__group.form__group--bn
          button.bn.bn--default
            | Button
            i.fas.fa-angle-right.icon.icon--layout-right
