.fz-80p {font-size: 80% !important;}
.fz-85p {font-size: 85% !important;}
.fz-90p {font-size: 90% !important;}
.fz-95p {font-size: 95% !important;}
.fz-100p {font-size: 100% !important;}
.fz-105p {font-size: 105% !important;}
.fz-110p {font-size: 110% !important;}
.fz-115p {font-size: 115% !important;}
.fz-120p {font-size: 120% !important;}
