// FONT
$ff_base: 'Roboto', sans-serif;
$fz_base: 16px;
$fw_base: 400;
$lh_base: 1.3;
$fc_base: #333;

// MARGIN
$gutter_base:   30px;
$gutter_p_base: 15px;

// COLOR
$color_1: #c00;
$color_2: #9ACD32;

$link_color_base:       #0275d8;
$link_hover_color_base: darken($link_color_base, 15%);

$bg-color: (
  white:        #fff,
  black:        #000,
  gray:         #ccc,
) !default;
$text-color: (
  white:        #fff,
  black:        #000,
  accent:       $color_1,
  link:         $link_color_base,
) !default;
$array-colors: ($bg-color, $text-color);

// TRANSITION
$tsn_duration_base: .2s;
$tsn_duration_mid:  .3s;
$tsn_duration_slow: .5s;

$box_shadow_base: 1px 1px 5px rgba(#000, .3);
$border_radius_base: 3px;

// FORM ELEMENTS
$placeholder_color:        #aaa;
$placeholder_focus_color:  #ddd;
$input_bg:                 #fff;
$input_border_color:       #ddd;
$input_border_focus_color: #aaa;

$input_height:             36px;
$input_padding_x:          10px;
$input_padding_y:          5px;
$input_border_width:       1px;
$form_group_gutter: $gutter_p_base;

// WRAP
$wrap: (
  800, 710, 440, 300
) !default;
