@import 'var';
@import 'icomoon';

#{$b} {
  &--middle {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
  }
  &--layout-left {
    margin-right: $spacingY;
  }
  &--layout-right {
    margin-left: $spacingY;
  }
}
