@mixin btn-size(
	$size: $btn-size-base,
	$font-size: $btn-font-size-base,
	$border-size: $btn-border-size-base
) {
	$line-height: $font-size * $btn-line-height-base;
  $padding-y: rem(($size - $line-height)/2 - $border-size - 1);
	@if $padding-y > 0 {
  	padding: {top: $padding-y; bottom: $padding-y;}
	}
	@if $size > $line-height {
		min-height: rem($size);
	}
  font-size: rem($font-size);
}

@mixin btn-resize(
	$size,
	$padding-x: null
) {
	@function size($n) {
		@return $n * $size;
	}
	$padding-x: rem(if($padding-x, $padding-x, size($btn-padding-x-base)));
	padding: {
		left: $padding-x;
		right: $padding-x;
	}
	@include btn-size(size($btn-size-base), size($btn-font-size-base));
	.icon[class*=left] {
		margin-right: size($btn-icon-spacing-y-base);
	}
	.icon[class*=right] {
		margin-left: size($btn-icon-spacing-y-base);
	}
}
